{% extends "forum/base.html" %}

{% block content %}
<h1 class="mt-5 pb-4">Entry title</h1>
<a href="{% url 'forum:topic' topic.id %}" class="btn btn-primary mb-4"><< Go back</a>

  <!-- Entry Card -->
  <div class="card mb-4" style="width: 90%;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title mb-0">{{ entry.title }}</h5>
      <p class="card-text">{{ entry.author }} on {{ entry.date_added|date:'d/m/Y' }}
      {{ entry.text|truncatewords:30|linebreaks }}</p>
      {% if entry.author == request.user %}
        <a href="{% url 'forum:edit_entry' entry.id %}" class="btn btn-primary">Edit</a>
      {% endif %}
    </div>
  </div>
  <!-- End of entry card -->
{% endblock content %}