{% extends 'forum/base.html' %}

{% block content %}
<h1 class="mt-5 pb-4">Forums</h1>
<a href="{% url 'forum:forum_create' %}" class="btn btn-primary mb-4">Create Forum</a>

<div class="container text-center">
  <div class="row row-cols-4 rows-cols-auto gy-4">

    <!-- Topic cards -->
    {% for forum in forums %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{ forum }}</h5>
          <p class="card-text">{{ forum.body }}</p>
          <a href="{% url 'forum:thread_list' forum.id %}" class="btn btn-primary">Read...</a>
          {% if request.user == forum.author %}
            <a href="{% url 'forum:forum_edit' forum.id %}" class="btn btn-primary">Edit</a>
          {% endif %}
        </div>
      </div> 
    </div>
    {% endfor %}
    <!-- End of topic cards -->

  </div>
</div>

<div class="mt-4">
  {% include 'forum/includes/pagination.html' with page=forums %}
</div>
{% endblock content %}